@font-face {
    font-family: 'Uthmani';
    src: url("../fonts/Uthmani/uthmanic_hafs_ver09.otf");
}
@font-face {
    font-family: 'Naskh';
    src: url('../fonts/Naskh/noorehira.ttf');
}
@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/Cairo-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Scheherazade';
    src: url('../fonts/Scheherazade/Scheherazade-Bold.ttf');
}
@font-face {
    font-family: 'Lalezar';
    src: url('../fonts/Lalezar/Lalezar-Regular.ttf');
}
@font-face {
    font-family: 'Changa';
    src: url('../fonts/Changa/Changa-Regular.ttf');
}
header{
    margin: 0 !important;
    background-color: #f5f5f5;
}
.pager{
    font: 2em 'Cairo', 'Uthmani', 'Scheherazade', 'Changa';
    color: #337ab7;
}
.description, .question, .thanks{
    font: 1.5em 'Cairo';
    padding: 5% 2%;
}
#img_begin{
    display: block;
    margin: 0 auto;
    width: 100%;
}
#img_begin:hover{
    box-shadow: 0px 0px 10px 2px #083e62;
}
#img_begin:active{
    box-shadow: 0px 0px 10px 5px #757575;
}
.credit{
    font-family: 'Roboto', 'Uthmani', 'Naskh', 'Scheherazade', sans-serif
}
#btn_begin{
    padding: 1% 2%;
    margin: 5%;
}
.choice{
    display: inline;
    font-size: 1.2em;
    font-family: 'Changa', 'Cairo', sans-serif !important;
    font-weight: 200;
}
.form-horizontal--customized{
    padding: 5% 5% 0% 5%;
}
.row-thanks{
    padding-top: 10%;
}
.share{
    margin: 0 auto;
    text-align: center;
}
.btn-arab{
    font-family: 'Cairo', 'Changa', sans-serif;
    font-size: 1.2em;
}
.footer{
    font-family: 'Lalezar', 'Changa', 'Cairo', sans-serif;
}